:root {
  --ff: 'Roboto Mono', monospace;

  --white: rgb(245, 245, 245);
  --blue: #0062ff;
  --pink: #8d7cff;
}

body {
  margin: 0;
  font-family: var(--ff);
  box-sizing: border-box;
  background: linear-gradient(
    135deg,
    var(--blue),
    var(--pink) 30% 70%,
    var(--blue)
  );

  height: 100vh;
  display: grid;
  place-content: center;
  overflow: hidden;
}

h1 {
  margin: 1rem;
  font-weight: 700;
  color: var(--white);
  letter-spacing: -5px;
  text-align: center;
  font-size: min(5rem, 12.5vw);
}

.board {
  width: min(75vw, 52.5vh);

  padding: 1.5rem 2rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  margin-inline: auto;
  aspect-ratio: 1/1.05;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.row + .row {
  border-left: 3px solid var(--white);
}

.row .spot + .spot {
  border-top: 3px solid var(--white);
}

.row {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.spot {
  display: flex;
  font-weight: 500;
  font-size: 3.75rem;
  justify-content: center;
  align-items: center;
  color: rgb(40, 40, 40);
  user-select: none;
}

.the-line {
  /*
  WHEN SMONE WINS
  ANIMATE THE WIDTH
  TRANSLATE POSITION
  ROTATE ACCORDING TO WIN 
  */
  height: 10px;
  border-radius: 2em;
  background-color: rgb(40, 40, 40);
  position: absolute;
  z-index: 99;
}

.options {
  margin-block: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.reset,
.info {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  width: 30%;
  font-size: 1rem;
}

.info {
  width: 45%;
}
